{% load theme_tags %}

<footer class="footer">
  <div class="row ai-background" style="padding-top: 20px; padding-bottom: 20px">
    <div class="container">
      <div class="col-md-6 col-xs-12 ai-background">
        <h4>Asociaci&oacute;n tecnol&oacute;xica A industriosa</h4>
        <p> Rua Barcelona 13 </p>
        <p> Vigo, Pontevedra, Galicia</p>
        <p> CIF: G27846609</p>
      </div> <!--col-->

      <div class="col-md-6 col-xs-12 ai-background">
        <h4>Contacto</h4>
        <p> info@aindustriosa.org </p>
        <p> +34 678 096 720 </p>
      </div> <!--col-->

    </div> <!-- row-->
  </div>
</footer>
