{% load base_filters %}
{% load base_tags %}
{% load theme_tags %}
{% load story_tags %}
{% load box_tags %}
{% load nav_tags %}
{% load video_tags %}
{% load video_filters %}
{% load news_tags %}
{% load photo_tags %}
{% load news_tags %}
{% load event_tags %}
{% load directory_tags %}
{% load job_tags %}
{% theme_extends "base.html" %}


<!-- Tendenci Specific Load Tags (Delete as Needed)
=========================================================== -->
{% load base_filters %}
{% load base_tags %}
{% load story_tags %}


<!-- Meta Tags (for optimal SEO)
=========================================================== -->
{% block title %}{{ SITE_GLOBAL_SITENAME }} {{ SITE_GLOBAL_SITEPRIMARYKEYWORDS }}{% endblock %}


<!-- Starts Tendenci Head Tag
=========================================================== -->
{% block extra_head %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ THEME_URL }}media/images/favicon.ico">
    <link rel="apple-touch-icon" href="{{ THEME_URL }}media/images/apple-touch-icon.png">

    <title>Theme Template for Bootstrap</title>

    <!-- Bootstrap core CSS
=========================================================== -->
    <!-- Bootstrap theme
=========================================================== -->
    <link href="{{ THEME_URL }}media/css/bootstrap-theme.min.css" rel="stylesheet">



    <!-- navigation dropdowns
=========================================================== -->
    <link href="{{ THEME_URL }}media/css/nav.css" rel="stylesheet">
    <link href="{{ THEME_URL }}media/css/ai.css" rel="stylesheet">
    <link href="{{ THEME_URL }}media/css/meanmenu.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

    <!-- Custom styles for this template
=========================================================== -->
  <link href="{{ THEME_URL }}media/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and
    media queries
=========================================================== -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock extra_head %}


    <!-- Start of the Body
=========================================================== -->
{% block body_ids %}home{% endblock body_ids %}
{% block body_classes %}home{% endblock body_classes %}
{% block html_body %}

  <a class="sr-only" href="#content">Skip to main content</a>

  <header>
    {% theme_include "header.html" %}<!-- Pulls in Header Include -->
  </header>


<div class="row" style="margin-top:100px">
	<div class="container">
		<div class="col-md-6">

			<a href="/"><img itemprop="image" src="{{ THEME_URL }}media/img/logo_completo_negro.png" alt="Logo"></a>
			{# <iframe #}
			{# 	width="100%" #}
			{# 	height="315px" #}
			{# 	src="https://www.youtube.com/embed/gGwBePzEQrA" #}
			{# 	frameborder="0" #}
			{# 	gesture="media" allow="encrypted-media" #}
			{# 	allowfullscreen></iframe> #}
		</div>

		<div class="col-md-6">
			<div class="text-center">
        <h1>Descripci&oacute;n </h1>
        <p>
        A Industriosa é unha asociación sen ánimo de lucro que xestiona e promove un medialab na cidade de Vigo. Un espacio onde makers, comunidades tecnolóxicas e empresas, dispoñen do equipamento necesario para poder levar a cabo os seus proxectos. Un punto de encontro onde aprender, compartir e construir
        </p>
			</div>
		</div>
	</div>
</div>

<div class="row ai-background" style="margin-top:100px; padding-bottom: 50px">
	<div class="container">
		<div class="col-md-6">
      <div class="text-center">
        <h1 style="color:white">Twitter</h1>
					<a class="twitter-timeline"
            data-height="300"
            data-width="300"
            href="https://twitter.com/aindustriosa?ref_src=twsrc%5Etfw">Tweets by A Industriosa</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
		</div>


		<div class="col-md-6">
			<div class="row">
				<div class="text-center">
					<h1 style="color:white">Fotos</h1>

						{% list_photos as photos_list limit=6 random=True %}
							{% for photo in photos_list %}
								<div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
									<div class="thumbnail">
										<a href="{{ photo.get_absolute_url }}"><img alt="{{ photo.title }}" src="{% photo_image_url photo size=144x132 crop=True %}" /></a>
									</div>
								</div>
							{% endfor %}
					</div>
				</div>
				<div class="row">
					<div class="text-center"><h2 style="color:white">Eventos</h2></div>
					<div class="ai-white-color"> <!-- merda-->
						{% list_events as events_list limit=3 %}
							{% if events_list %}
								{% for event in events_list %}
									<p><b>{{ event.start_dt|date:"d F" }}:</b>
											<a href="{{ event.get_absolute_url }}" >{{ event.title }}  por {{ event.speakers.0 }}</a>
									</p>
								{% endfor %}
							{% else %}
								<p><b>Non temos eventos futuros planeados</b></p>
						{% endif %}
					</div> <!-- merda-->

				</div>
      </div>
		</div> <!--foto-->
  </div>
</div>

<div class="row" style="margin-top:100px">
	<div class="container">
		<div class="col-md-12">
      <div class="text-center">
        <h1>Colaboradores<h1>

          <div class="row">
            <div class="col-md-3 col-xs-12">
							<a href="http://www.marineinstruments.es/?lang=en">
                <img alt="64x64" class="media-object" data-src="holder.js/64x64" style="width: 256px;" src="{{ THEME_URL }}media/img/marine.png" data-holder-rendered="true">
              </a>
            </div> <!--col-->

            <div class="col-md-3 col-xs-12">
              <a href="http://www.astilleroscardama.com/en/">
                <img alt="64x64" class="media-object" data-src="holder.js/64x64" style="width: 256px;" src="{{ THEME_URL }}media/img/cardama.png" data-holder-rendered="true">
              </a>
            </div> <!--col-->

            <div class="col-md-3 col-xs-12">
              <a href="https://www.quobis.com/">
                <img alt="64x64" class="media-object" data-src="holder.js/64x64" style="width: 256px;margin-top:50px;" src="{{ THEME_URL }}media/img/quobis.png" data-holder-rendered="true" style="margin-top:40px">
              </a>
            </div> <!--col-->

            <div class="col-md-3 col-xs-12">
              <a href="http://www.ultreia.es/">
                <img alt="64x64" class="media-object" data-src="holder.js/64x64" style="width: 256px;margin-top:20px;" src="{{ THEME_URL }}media/img/ultreia.png" data-holder-rendered="true" style="margin-top:40px;">
              </a>
            </div> <!--col-->
          </div>

					<div class="row">
							<div class="col-md-offset-3 col-md-3 col-xs-12">
                <a href="https://www.gradiant.org/">
                  <img alt="64x64" class="media-object" data-src="holder.js/64x64" style="width: 256px;" src="{{ THEME_URL }}media/img/gradiant.png" data-holder-rendered="true">
                </a>
							</div> <!--col-->

							<div class="col-md-3 col-xs-12">
                <a href="https://www.mundo-r.com/gl" >
                  <img alt="64x64" class="media-object" data-src="holder.js/64x64" style="width: 256px;" src="{{ THEME_URL }}media/img/r.jpg" data-holder-rendered="true">
                </a>
							</div> <!--col-->

							{# <div class="col-md-3 col-xs-12"> #}
							{# 	<img alt="64x64" class="media-object" data-src="holder.js/64x64" style="width: 256px;" src="{{ THEME_URL }}media/img/gradiant.png" data-holder-rendered="true"> #}
							{# </div> <!--col--> #}
					</div>
      </div>
		</div>
  </div>
</div>

<div class="row ai-background" style="margin-top:100px; padding-bottom:40px;">
	<div class="container">
		<div class="col-md-12">
      <div class="text-center">
        <h1 style="color:white">Localizacion</h1>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2954.3766193257056!2d-8.723963484669849!3d42.227766279195976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f627215745595%3A0x5be61c94a8255d06!2sR%C3%BAa+de+Barcelona%2C+13%2C+36203+Vigo%2C+Pontevedra!5e0!3m2!1sen!2ses!4v1513025573104" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
		</div>
  </div>
</div>


<div class="row" style="margin-top:100px">
	<div class="container">
		<div class="col-md-12">
      <div class="text-center">
        <h1>Faite socio</h1>

				<div class="row">
						<div class="col-md-6">
							<div class="panel price panel-green">
								<div class="panel-heading arrow_box text-center">
									<h3>Normal</h3>
								</div>
								<div class="panel-body text-center">
									<p class="lead" style="font-size:40px"><strong> 15&euro;/ mes</strong></p>
									</div>
										<ul class="list-group list-group-flush text-center">
											<li class="list-group-item"><i class="icon-ok text-success"></i> Acceso ilimitado</li>
											<li class="list-group-item"><i class="icon-ok text-success"></i> Uso da sala</li>
											<li class="list-group-item"><i class="icon-ok text-success"></i> 40&euro;/trimestre</li>
										</ul>
									<div class="panel-footer">
										<a class="btn btn-lg btn-block btn-success" href="/memberships/applications/applicacion-online/">Faite socio</a>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel price panel-green">
								<div class="panel-heading arrow_box text-center">
									<h3>Estudante e menor 25 anos</h3>
								</div>
								<div class="panel-body text-center">
									<p class="lead" style="font-size:40px"><strong> 10&euro;/ mes</strong></p>
									</div>
										<ul class="list-group list-group-flush text-center">
											<li class="list-group-item"><i class="icon-ok text-success"></i> Acceso ilimitado</li>
											<li class="list-group-item"><i class="icon-ok text-success"></i> Uso da sala</li>
											<li class="list-group-item"><i class="icon-ok text-success"></i> 25&euro;/trimestre</li>
										</ul>
									<div class="panel-footer">
										<a class="btn btn-lg btn-block btn-success" href="/memberships/applications/applicacion-online/">Faite socio</a>
								</div>
							</div>
						</div>
				</div><!--row-->
      </div>
		</div>
  </div>
</div>

{# <div class="row" style="background-image:url(themes/inspiration-bootstrap3/media/img/astillero.jpg);text-align: center; height: 800px"> #}
{#   <h1>A Industriosa</h1> #}
{# </div> #}
{# <div class="container"> #}
{#       <div class="page-header"> #}
{#         <h1>Sticky footer with fixed navbar</h1> #}
{#       </div> #}
{#       <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p> #}
{#       <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p> #}
{#       <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p> #}
{#       <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p> #}
{#       <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p> #}
{#       <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p> #}
{#       <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p> #}
{#     </div> #}

{#   </div> #}
  {% theme_include 'footer.html' %}
{% endblock %} <!-- Ends the Body -->

{% block extra_body %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



 <!-- Theme Specific Javascript files
 ================================================== -->
    <!-- Respond JS for IE8 -->
    <script src="{{ THEME_URL }}media/js/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="{{ THEME_URL }}media/js/html5shiv.js"></script>
    <!-- Custom JS -->
    <script src="{{ THEME_URL }}media/js/jquery.meanmenu.js"></script>
    <script src="{{ THEME_URL }}media/js/responsiveCarousel.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
      $('.mainnav nav').meanmenu();
      $('.crsl-items').carousel({ speed: 1000, autoRotate: 6000 });
    });
    </script>

{% endblock extra_body %}


